*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
}
.container{
padding: 1rem 2rem;
    
}

/* nav-bar------1 */

.nav1{
    background: transparent;
    color:  rgb(6, 6, 39);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 div{
    margin-left: 2.5rem;
    flex-basis: 12%;
    /* border: 2px solid gold; */
    
}
.nav1 div:nth-child(1){
    flex-basis: 100%
}

.btn_blue{
    background:rgb(6, 6, 39) ;
    color: white;
    padding: 0.3rem 0.6rem;
    border: none;
}


.btn_green{
    background:rgb(5, 136, 5);
    color: white;
    padding: 0.3rem 0.9rem;
    border: none;
}
/* nav-bar---2 */
.nav2{
    background-color:  rgb(6, 6, 39);
    color: white;
    padding: 1.5rem 0;
    display: flex;
}
.nav2 span{
    margin-left: 2.5rem;
    flex-basis: 15%;
}
.nav2 span:nth-child(3){
    flex-basis: 100%
}


/* section one */
.section_one{

    display: flex;
    height: 70vh;
    /* border: 2px solid green; */
    

}
.col_start{
    /* margin-left: 7rem; */
    flex:1 ;
    /* border: 2px solid green; */
    /* flex-basis: 50%; */
    margin-top: 1rem;
    margin-right: 2rem;
    
}
.col_start img{
    border-radius:7% ;
    margin: 2rem 0;
    background: transparent;
    width: 100%;
    height: 70%;
    margin-right: 3rem;
}
.col_start p{
    margin-top: -2rem;
    line-height: 1.5rem;
}


.section_one img{
    
    margin-top: 2rem;
}
.section_one h1{
    margin-top: 5rem;
    font-size:3rem;
    font-weight: 700;
    color: rgb(7, 7, 63);
}




.main{
    margin-top: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    letter-spacing: -0.3rem;
}
.container{
    /* border: 2px solid goldenrod; */
    width: 100%;
    /* min-width: 250px; */
    margin: 0.5rem;
}
.row{
    
    display:flex;
    margin-left: 3rem;
    flex-basis: 100% ;
    /* border: 2px solid red; */
}
.col{
    
    padding:2rem;
    margin: 0 auto;
    /* border: 2px solid green; */
    /* margin-left: -4rem; */
    /* text-decoration: none; */
    flex-basis: 60% ;
    align-items: center;
}
.row div:nth-child(4){
    flex-basis: 90%;
    margin-left: 5rem;
}

h2{
    letter-spacing: 3px;
}
                    /* section two */

.section_two{
    border-top: 4px solid rgb(219, 216, 216);
    
    
}

.left_sec2{
    border-right: 4px solid rgb(219, 216, 216);
    margin-right: 3.3rem;
}
.main_sec2{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.main_sec2 div{
    flex-basis: 25%;
    
}

.left_sec2{
    /* border: 2px solid green; */
    text-align: center;
    margin-top: 2.5rem;
    
    
}
.circle_border{
    border-radius: 50%;
    border: 2px solid rgb(219, 216, 216);
    background-color:white;
    padding: 1rem;
    
}
.hr_sec2{
    width: 14rem;
    border: 2px solid white;
    background-color: rgb(219, 216, 216);
    border-radius: 100%;
    height: 10px;
    
}
.hr_box{
    width: 2rem;
    margin-right: -1rem;
    border: none;
    background-color: rgb(219, 216, 216);
    padding:0.8rem 0.2rem;
}

            /* sec3 */
.main_sec3{
    display: flex;
    /* border: 2px solid green; */
}

.main_sec3 div{
    /* justify-content: center; */
    /* text-align: center; */
    flex-basis: 70%;
    margin-left: 2.5rem;

}
.main_sec3 div:nth-child(1){
    flex-basis: 30%;
}
.main_sec3_a{
    /* border: 2px solid green; */
    margin-top: -5.5rem;
    border-right: 4px solid rgb(219, 216, 216);
    border-bottom:  4px solid rgb(219, 216, 216);
    
}
.main_sec3_a h3{
    margin-top: 2.5rem;
}

.main_sec3_b{
    margin-top: -4rem;
}

.main_sec3_c{
    margin-top: -4rem;
}
input{
    border: 1px solid rgb(219, 216, 216);
}
.main_sec3_b input{
    
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.main_sec3_c input{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    width: 100%;
    height: 50px;
}



/* footer */
.section_footer{
    background-color:  rgb(6, 6, 39);
    color: white;
    padding-bottom: 2rem;
    height: 77vh;
    
}
.section_footer p{
    
    margin-top: 1rem;
    font-size: small;
}

.vl{
    border-left: 6px solid rgb(5, 136, 5);
}

.main_btm_footer{
    display: flex;
}
.main_btm_footer span{
    flex-basis: 8%;
    font-size:10px;
}
.main_btm_footer span:nth-child(1){
    flex-basis: 80%;
    font-size: 14px;
}