:root{
  --color:#213060;
  --color2:#7AB4A6;
  --font-h: 'Noto Serif';
  --font-p : 'Raleway';
  --font-3: 'Source Sans Pro';
}
.about-us-4{
  font-family: var(--font-3);
  font-size: 22px;
}
.service {
  padding-top: 3%;
  padding-bottom: 3%;
} 
.service .card{
  border: none;
  text-align: center;
}
.service .card-title{
  font-family: var(--font-h);
  font-size: 20px;
  font-weight: 600;
  color: var(--color);
  padding-left: 10%;
  text-align: left;
}
.service .card-text{
  font-family: var(--font-h);
  font-size: 15px;
  width: 70vw;
  padding-left: 10%;
  text-align: left;
  color: var(--color);
} 
.service .card-text a {
  font-family: var(--font-h);
  font-size: 15px;
  font-weight: 600;
  color: var(--color);
  text-decoration: underline;
}
