:root{
    --color:#213060;
    --color2:#7AB4A6;
    --font-h: 'Noto Serif';
    --font-p : 'Raleway';
    --font-3: 'Source Sans Pro';
}

/* Style the tab */
.tab {
  background-color: var(--color);
    background:url('../imges/home/application_bg.png') ;
    width: 100%;
    height: 100%;
    border-top: 3px solid #00000034;
    box-shadow: 22px 10px 35px #00000034;
  }

  .tab h1 {
    color: #FFFFFF;
    font-family: var(--font-h);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 70%;
    margin-left: 10%;
  }
  .tab p {
    color: #FFFFFF;
    font-family: var(--font-p);
    font-size: 16px;
    font-weight: bold;
    margin-left: 10%;
  }

  .btn-secondary2{
    border: 1px solid var(--color);
    background: var(--color2);
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10%;
    border: none;
    border-radius: 0px;
    z-index: 1000;
}
.btn-secondary2:hover {
    background-color: #707070;
}
  /* Style the tab content */
  .tabcontent {
    width: 100%;
    height: 100vh;
     padding: 2rem 0rem 0rem 11rem; 
    color: var(--color);
  }
  .tabcontent h1 {
    border-left: 4px solid var(--color2);
    padding-left: 10px;
    font-family: var(--font-h);
    font-size: 3rem;
    font: normal normal bold 48px/55px Noto Serif;
  }
  .tabcontent p{
      padding-left: 1rem;
      font: normal normal 600 24px/36px Source Sans Pro;
  }
  .tabcontent li {
      list-style-type: none;
      font: normal normal 600 24px/36px Source Sans Pro;
      line-height: 2.5;
  }
  .bg{
    margin-top: -200px;
  }
  .fa-check {
      color: var(--color2);
    padding-right: 15px;
  }

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center !important;
  }
  
  .form-inline input {
    vertical-align: middle;
    width: 20rem;
    height: 3rem;
    background-color: #fff;
    border: 1px solid #DDDFE1;
    color: #ABAFB3;
    font-size: 12px !important;
    font-family: var(--font-p) !important;
    font-weight: 600;
    padding: 0 15px;
  }
  
  .form-inline button {
    width: 8rem;
    height: 3rem;
    background-color: var(--color);
    border: 1px solid var(--color2);
    color: white;
    cursor: pointer;
  }
  .formp {
      margin-bottom: 3px;
      color: #464A53;
      font-size: 12px !important;
      font-family: var(--font-p) !important;
      padding-left: -30px !important;
  }
  .form_div {
      margin-top: 2rem;
      align-items: center;
  }
  .form-inline button:hover {
    background-color: var(--color2);
  }
  .form-control:focus,.form-control:active{
    border:1px solid var(--color2);
    box-shadow: none;
  }
  .right-btn{
    font-size: 16px;
  }
 .register{
   width: 700px;
   margin: auto;
 } 
  @media (max-width: 549px){
    
    .form-inline input {
        width: 20rem;
        height: 3rem;
      }
    .form-inline button {
        width: 20rem;
        height: 3rem;
      }
      .tabcontent {
        padding: 0px;
      }
      .bg img{
        width: 80%;
        float: right;
        transform: rotate(180deg);
        top: 0px;
        right: 0px;
        position: absolute;
        top: 0px;
      }
      .tab{
        background: url('../imges/home/tab-mobile.png');
        box-shadow: none
      }
      .tabcontent h1 {
        font-size: 26px;
        line-height: 1.3;
      }
      .tabcontent p {
        font-size: 16px;
        font-weight: bold;
      }
      .tabcontent li {
        font-size: 15px;
        font-weight: bold;
      }
      .tab h1 {
        padding-top: 2rem;
      }
  }
  @media (max-width: 767px){
    .register {
      width: 100%;
    }
    .tab h1 {
        margin-left: 30%;
      }
      .tab p {
        margin-left: 30%;
      }
    
      .btn-secondary2{
        margin-left: 30%;
    }
  }