:root{
    --color:#213060;
    --color2:#7AB4A6;
    --font-h: 'Noto Serif';
    --font-p : 'Raleway';
    --font-3: 'Source Sans Pro';
}

.contact-us-container h1{
  font-size: 3rem;
  font-weight: bold;
  margin: 6.25rem 0rem;
  color: var(--color);
    border-left: 7px solid var(--color2);
    margin-top: 6rem;
    padding-left: 20px;
}
.btn-area{
  text-align: center;
}
.btn-contact-tab{

  background-color: #fff;
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 24px;
  border: none;
  color: var(--color);
  margin-left: 10px;
}
.btn-contact-active{
  border-bottom: 5px solid var(--color2);
}
.contact{
  padding: 3rem;
  box-shadow: 2px 2px 10px rgba(0,0 ,0, 0.3);
}
.contact label{
    color: #5A7184;
    font-size: 16px;
    font-family: var(--font-3);
}
.contact .form-control{
  height: 3.2rem;
  border-radius: 10px;
}
.contact textarea{
  height: 100px;
}
.contact p {
  font-family: var(--font-3);
  color: #5A7184;
  padding-top: 20px;
}
.btn-contact{
  font-family: var(--font-3);
  font-size: 16px;
  background-color: #7AB4A6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
 
}
.contact-us .card{
  font-family: var(--font-h);
  margin-top: 4rem;
    text-align: center;
    border: none;
    color: #5A7184;
}
.contact-us .card-title{

  font-size: 22px;
  font-weight: bold;
  color: var(--color);
}
.contact-us .card-text{
  font-size: 16px;
  color: #5A7184;
}
.btn-email{
  background: transparent;
  border: 1px solid var(--color);
}
.book-class ul {
  font-family: var(--font-3);
  font-weight: bold;
  font-size: 18px;
  margin-top: -30px;
 
  list-style: none;
}
.book-class ul li{
  padding: 10px;
  
}
.book-class ul li:before {
  content: '✓';
  padding-right: 10px;
  color: var(--color2);
}
.schdule{
  font-family: var(--font-3);
  font-weight: bold;
  background: var(--color);
  color: #fff;
  padding: 20px;
}
.schdule hr{
  background-color: #E2E2EA;
  border: 1px solid #E2E2EA;
}
.schdule ul{
  font-family: var(--font-3);
  font-size: 17px;
  font-weight: bold;
  list-style: none;
}
.schdule ul li{
  padding-top: 20px;
}
.schdule h4{
  font-size: 17px;
}