:root{
  --color:#213060;
  --color2:#7AB4A6;
  --font-h: 'Noto Serif';
  --font-p : 'Raleway';
  --font-3: 'Source Sans Pro';
}
body{

  font-family: 'Noto Serif', serif;
  overflow-x: hidden;
  width: 100vw;
  max-height: 100vh;
}
.btn-secondary1{
  background: #7AB4A6 0% 0% no-repeat padding-box;
  width: 360px;
  height: 43px;
  font-size: 16px;
  padding-left:20px ;
  color: #fff;
}
.user-banner{
    background: url('../imges/our_plan/user-plan-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 80px 0px 50px 0px;
}
.bg-silver{
  background-color: #F9F9F9;
}
.user-banner h1{
    font-size: 56px;
    font-weight: bold;
}
/* Multiset Form */
.progress-div{
    font-size: 19px;
    font-weight: bold;
     width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 4rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 5px 5px rgb(0 0 0 / 3%);
    color: #79797A;
}
 .progressbar{
   list-style: none;
 }

 .progressbar li{
   width: 25%;
   float: left;
   padding-top: 2rem;
 }
.progressbar li .box{
  width: 22px;
  height: 22px;
  background-color: #79797A;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.progressbar .active{
    color: var(--color)
}
.progressbar .active .box{
  background-color: var(--color);
}
.tab{
    display: none; 
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .current{
    display: block;
  }
.tab1 .card{
  border: none;
  border-radius: 0px;
  color: var(--color);
  text-align: center;
}
.tab1 .card .card-title{
  font-family: var(--font-h);
  font-size: 22px;
  margin-top: 2rem;
  font-weight: bold;

}
.tab1 .card .card-text{
  font-family: var(--font-p);
  font-weight: 300;
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  line-height: 30px;

}
.tab1 .btn1{
  height: 30px;
  font-size: 16px;
  width: 60%;
  margin: 20px auto;
  height: 40px;
  padding-top: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: all 0.9s ease-in;
}
.tab1 .card:hover .btn1{
  display: block;
  transition: all 0.9s ease-in;
}
.tab1-img-section .about-services-text{
  padding: 50% 2rem 0px 2rem;
  font-weight: bold;
  font-size: 27px;
}
.toggle-switch-div{
  padding: 40px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #9B9B9B;
}
.toggle-switch-div .font-active{
  color: var(--color);
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0px 30px;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color2);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #EBEBEB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #EBEBEB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.tab1-packages-area{
  background: url('../imges/our_plan/package-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem;
}
.pagkage-container{
  background: #fff;
  text-align: center;
  box-shadow: 0 55px 25px rgb(0 0 0 / 10%);
  padding: 4rem;
  border: 1px solid #EBEBEB;
  color: var(--color);
}
.package-heading h3{
  font-size: 28px;
  font-weight: bold;
  color: var(--color);
}
.package-body h4 {
  font-size: 16px;
  font-weight: bold;
  padding-top: 40px;
}
.package-heading p{
  font-size: 17px;
  font-family: var(--font-p);
  line-height: 20px;
}
.number-control{
  width: 100px;
  margin: 30px auto;

  border-radius: 0px;
    text-align: center;
}
.package-footer{
  font-size: 18px;
}
.package-footer h3{
  font-size: 28px;
  font-weight: bold;
}
.package-table{
  font-family: var(--font-p);
  font-weight: bold;
  margin: 30px auto;
  border: none;
  width: 80%;
 

}
.package-table > thead > tr > th {
  border: none;
}
.package-table th{
  text-align: center;
  color: var(--color);
  font-style: 16px;
}
.package-table td:nth-child(1) {
  font-size: 15px;
  color: var(--color);
  width: 40%;
}
.package-table td:nth-child(2){
  text-align: center;
  color: var(--color2);
  font-style: 16px;
}
.package-table td:nth-child(3){
  text-align: center;
  color: var(--color2);
  font-style: 16px;
}
.service{
  padding: 30px 0px 150px 0px;
}
.service .card{
    background: transparent;
}
.employee-message{
  margin-top: -50px;
  margin-bottom: -40px;
}
.padding-tab2{
  margin-top: 40px;
  padding: 30px 0px;
  z-index: -1;
}
.banner-padding{
  padding: 7.5rem
}
.tab-sidebar{
  padding-left: 20px;
  font-family: var(--font-h);
}
.tab-sidebar h1{
  color:var(--color);
  font-size: 2.4rem;
  font-weight: bold;
}
.tab-sidebar h4{
  font-size: 26px;
  font-weight: bold;
  padding: 20px 10px;
  color: var(--color2);
}
.tab-sidebar ul{
    list-style: none;
    font-family: var(--font-3);   
}
.tab-sidebar ul li{
  padding-top: 15px;
  font-size: 18px;
  color:var(--color)
}
.article-img{
  width: 350px;
  height: 320px;
  border: 1px solid var(--color2);
}
.article-img img{
  padding-top: 20px;
  margin-left: 20px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
}
.article-text{
  margin-left: 30px;
  padding: 20px 30px;
}
.article-auth{
  font-family: var(--font-3);
  font-weight: bold;
  font-size: 22px;
  color: var(--color2);

}
.article-title{
  font-family: var(--font-h);
  font-weight: bold;
  font-size: 32px;
  color: var(--color);
}
.article-category{
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 18px;
  color: var(--color);
}
.article-description{
  font-family: var(--font-3);
  font-size: 18px;
  color: var(--color);
  padding-top: 20px;
}
.read-more{
  font-family: var(--font-3);
  font-size: 18px;
  color: var(--color);
  text-align: right;
}
.read-more a{
  color: var(--color);
}
.load-more-down{
  padding: 30px;
  text-align: center;
}
.load-more-down a{
  color: var(--color);
}
.load-more-down img{
  transform: rotate(90deg);
}
.resource-end{
  background: url('../imges/our_plan/BG.png');
  padding: 40px;
  color: var(--color);
}
.resource-end h3{
  font-family: var(--font-3);
  font-size: 24px;
  font-weight: 400;
}
.resource-end h3{
  font-family: var(--font-h);
  font-size: 32px;
  font-weight: bold;
}
.text-color1{
  color: var(--color2);
}
.new-title h1{
  font-family: var(--font-h);
  font-size: 39px;
  font-weight: bold;
  color: var(--color);
}
.result{
  font-family: var(--font-3);
  font-weight: bold;
  color: #9B9B9B;
}
.new{
  background: url('../imges/our_plan/bg-resou.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.new-area{
  background-color: #fff;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 3%);
  padding: 40px 20px;
  margin: 50px;
}
.news-img img{
    width: 280px;
    height: 200px;
  
}
.news-title{
  font-family: var(--font-h);
  font-size: 22px;
  font-weight: bold;
  color: var(--color);
  padding-top: 10px;
}
.news-description{
  font-family: var(--font-3);
  font-size: 12px;
  color: var(--color);
  padding-top: 20px;
}
.news-footer{
  font-family: var(--font-p);
  font-size: 16px;
  color: #A2A6BB;
  padding-top: 50px;
}
.news-footer::before{
  content: "";

  width: 20px;
  height: 30px;
      padding: 0px 6px;
  background-color: var(--color2);
  margin-right: 30px;
}
.tab3{
  background: url('../imges/our_plan/tab3-bd.png');
  background-attachment: fixed;
  padding: 110px 0px 350px 0px;
}
.tab3 h1{
  font-family: var(--font-h);
  font-weight: bold;
  font-size: 48px;
  color: #fff; 
}
.left-area{
  font-family: var(--font-3);
  font-style: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color);
  padding: 50px 0px 100px 0px;
  text-align: center;
  margin-top: -80px;
}
.left-area h1{
  font-family: var(--font-h);
  font-family: 26px;
  font-weight: bold;
}
.left-area p {
  padding-top: 20px;
}
.right-area{
  background-color: #fff;
  padding: 30px 80px;
  box-shadow: 2px 5px 20px rgb(0 0 0 / 20%);
    margin: 10px 30px 0px -50px;
}
.right-area h1{
  font-weight: bold;
  font-size: 30px;
  color: var(--color2);
}
.right-area .btn-warning{
  background: transparent;
    color: #fff !important;
    font-size: 12px;
    font-weight: 500;
    color: #213060 !important;
    padding: 5px 30px !important;
    margin-top: 6px;
    border: 1px solid #707070;
    border-radius: 0px;
    z-index: 1000;
}
.right-area .custom-input-group{
    margin: 30px 0px;

}
.right-area .btn-send{
  border-radius: 0px;
  background-color: var(--color2);
  color: #fff;
}
.register-option{
  margin: 30px;
  padding: 10px 0px 20px 40px;
  color: var(--color);
}
.register-div{
  border: 2px solid var(--color2);
  margin: 1.5rem;
}
.register-text{
  background-color: #fff;
  font-size: 12px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.3);
  margin: 10px -40px 10px 10px;
  padding: 20px;
  height: 200px

}
.register-text h1{
  font-size: 26px;
}
.barnner-partner{
  background: url('../imges/home/about-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 6.25rem 0px;
    color: #fff;
}
.margin-banner{
  margin: 4rem;
}
.partner-end{
  text-align: center;
  padding: 3rem;
  color: var(--color);
  font-size: 13px;
}
.partner-end h1{
  font-family: var(--font-h);
  font-weight: bold;
  font-size: 38px;
  color: var(--color);
}
.partner-end h3{
  font-family: var(--font-p);
  font-weight: bold;
  font-size: 18px;
  color: #79797A;

}
.partner-end  .card{
  margin-top: 30px;
  background-color: transparent;
  border: none;
}
.partner-end .card-title{
    font-family: var(--font-h);
    font-size: 24px;
    font-weight: 400;
    color: var(--color2);
}
.partner-end .card-text{
  font-family: var(--font-p);
  font-size: 17px;
  line-height: 30px;
}
@media (max-width: 576px) {
  .progressbar-none{
    display: none;
  }
  .progressbar-margin{
    margin-top: -18px;
  }
}