/*---Media Queries --*/
@media (max-width: 992px) {
    .top-bar nav{
        height: 90px;
        padding: 0px;
        margin: 0px;
        text-align: center;
     }
     .main-menu{
         display: none;
     }
    .employee-message {
        width: 100%;
    }
    .img-banner{
        width: 100%;
    }
    .user-responce {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 300;
        display: block;
        word-spacing: -10px;
        margin-left: -100px;
       
    }
     .user-responce a {
        color: var(--color);
    }
    .user-responce img{
        margin-top: 15px;
      }
     .user{
        display: none;
     }
}
@media(max-width: 768px){
  
.banner-section {
    width: 576px;
 }

 .mobile-img{
     display: none;
 }
 .mobile-img-res{
     display: block;
     margin-top: -8rem;
     margin-left: 3rem;
 }
 .employee{
     margin-top: 30px;
 }
 .mobile-section{
    
 }
 .mobile-section h2{
    margin-top: 1rem;
 
}
.mobile-employee {
    height: 300px;
}
.mobile-employee h2 {
    padding-top: 2rem;
    font-size: 20px;
}
.pt-12{
    padding-top: 1rem
}
.border-dot {
  margin: 10px;
}
 footer{
    margin-top: 150px
 }
 .footer-top-section {
    margin: auto;
    margin-top: -150px;

}
.footer-mob{
    display: block;
}
.laptop-employee h2{
    margin-top: 10px;
    font-size: 16px;
}
.laptop-employee p{
    font-size: 16px;
}
.margin-nig-50{
    margin-left: -20px;
}
}
@media (max-width: 576px) {
    .banner h1{
        font-size: 28px;
    }
    .banner-btn {
        text-align: left;
        margin-top: 2rem;
    }
    .banner .btn-primary, .banner .btn-secondary {
        padding: 10px 20px !important;
        font-size: 12px;
    }
    .banner-btn a{
        margin-top: 20px;
    }
    .banner-section {
        width: 100%;
        margin: auto;
        
     }
     .banner-section p{
        font-size: 12px;
        
     }
     .mobile-img-res{
        margin-left: 0rem;
    }
     .top-bar nav{
        height: 90px;
        padding: 0px;
        margin: 0px;
        text-align: center;
     }
     .user-responce {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 300;
        margin-left: 0px;
        margin-right: -15px;
    }
    .user-responce  .nav-link{
        padding:0px;
    }
     .logo-img{
        display: none;
    }
     .logo-text{
         display: block;
     }
     .main-menu{
         display: none;
     }
    
     .h-1{
         font-size: 16px;
         
     }
     .p-1{
         font-size: 10px;
     }
     footer img{
         margin-top: 40px;
     }
     .footer-top-section {
        width: 269px;
        height: 150px;
        padding: 20px;
        margin: auto;
        margin-top: -100px;
    }
    .tab1-packages-area{
        padding:0px;
    }
    .pagkage-container{
        margin-top: 20px;
    }
    .toggle-switch-div {
         padding: 40px 0px;
        }
    .progress-div {
        font-size: 12px;
        }
    footer{
        display: none;
    }
    .footer-top-mob{
        width: 270px;
        margin-top: -190px !important;
    }
    .img-padding {
        padding-top: 5rem;
        margin-left: 20px;
    }
    .margin-nig-50 {
        margin-left: 0px;
    }
    .laptop-employee h2{
        margin-top: 30px;
        font-size: 14px;
    }
    .laptop-employee p{
        font-size: 12px;
    }
}
@media (max-width: 390px) {
    footer {
        margin-top: 50px;
    }
    .monthly-con {
        width: 100%;
        height: 400px;
    }
    .monthly-text{
        width: 100%;
    }
    .img-mobile-employee {
        margin-top: -2rem;
        margin-left: 3rem;
    }
    .bg-section-employee {
        position: absolute;
        right: 0px;
      margin-top: 0px; 
    }
    .mobile-employee {
        margin-top: 100px;
    }
    .border-dot {
        margin-left: 50px;
    }
    .mobile-employee p {
     
        font-size: 12px;
    }
    .mobile-employee h2 {
        font-size: 15px;
    }
    .employee-message h2{
        font-size: 18px;
    }
    .faq .card-header a {
        
        padding-left: 2rem; 
        font-size: 12px;
    }
    .employee-end h1{
        font-size: 18px;
    }
    .employee-message {
        
        margin: 2rem auto;
      
    }
    .margin-r-m{
            margin-left: 0px;
    }
    .margin-nig {
        margin-left: 0px; 
    }
    .margin-t-r{
        margin-top: 15rem;
    }
    .heading {
        font-size: 24px;
    }
    .laptop-employee h2{
        margin-top: 30px;
        font-size: 12px;
    }
    .laptop-employee p{
        font-size: 10px;
    }
    .margin-nig-50 {
        margin-left: 10px;
    }
}